// Color variables
$color-light: #f8f9fa;
$color-dark: #212529;
$color-gray: #343a40;
$color-hover: #495057;
$color-link: #FAFAFA;
$color-selected: #2761a3;
$color-input: #dee2e6;
$color-input-dark: #4f4f4f;
$color-background-dark: #212529;
$color-background-light: #f3f4f7;
$color-border-light: #dee2e6;
$color-border-dark: #212529;
$color-text-light: #212529;
$color-text-dark: #f8f9fa;
$color-gray-light: #6d6d6d;
$color-gray-dark: #5c5c5c;
$color-placeholder: #b2b5b9;
$color-option-hover: #f3f4f7;
$color-option-selected: #ffffff;
$color-dark-border: #666666;
$color-border-dark-2: #444444;
$color-dark-checkbox: #a7a7a7;
$color-input-dark2: #e4e4e4;

// Body styles
body {
  overflow-x: hidden;
  transition: background-color 0.5s, color 0.5s;
}

// Sidebar styles
.sidebar {
  height: 100vh;
  width: 240px;
  background: $color-gray;
  position: fixed;
  padding-top: 20px;
  transition: transform 0.3s ease;
  transform: translateX(0);

  a {
    color: $color-link;
  }

  .nav-link:hover {
    background-color: $color-hover;
  }

  .button-transparent {
    background-color: transparent;
    border: none;
    outline: none;

    &:focus,
    &:focus-visible,
    &:active {
      outline: none;
    }
  }

  .toggle-sidebar {
    float: right;
    margin-right: 10px;
    display: none;

    * {
      color: $color-link;
    }
  }
}

.sidebar-hidden .sidebar {
  transform: translateX(-240px);
}

.sidebar h4 {
  font-size: 1.25rem;

  a {
    display: block;

    &:hover {
      text-decoration: none;
    }
  }
}

// Content styles
body {
  .content {
    margin-left: 240px;
    padding: 1rem;
    transition: margin 0.3s ease;

    h2,
    h3 {
      margin-top: 6px;
      margin-bottom: 6px;
      font-size: 1.75rem;
    }
  }
}

body.sidebar-hidden .content {
  margin-left: 0px;
}

// Media Queries
@media screen and (max-width: 992px) {
  .sidebar {
    transform: translateX(-240px);
  }

  body .content {
    margin-left: 0px;
  }

  .sidebar-show .sidebar {
    transform: translateX(0px);
    position: fixed;
    z-index: 1000;

    .toggle-sidebar {
      display: inline;
    }
  }

  body.sidebar-show .content {
    margin-left: 0px;
  }
}

@media screen and (max-width: 240px) {
  .sidebar-show .sidebar {
    width: 100vw;
  }
}

// Light and Dark mode styles
.light-mode {
  background-color: $color-light;
  color: $color-text-light;
}

.dark-mode {
  background-color: $color-dark;
  color: $color-text-dark;
}

// Navbar styles
.navbar {
  transition: background-color 0.5s;
  padding: 0rem 0rem;
}

.language-flag {
  width: 20px;
  margin-right: 5px;
}

// Additional navbar and dropdown styles
.dark-mode .navbar-nav .nav-link .fas,
.dark-mode .navbar-nav .btn .fas,
.dark-mode .navbar-nav .nav-link {
  color: $color-text-dark;
}

.dark-mode .navbar-nav .nav-link:focus,
.dark-mode .navbar-nav .nav-link:hover {
  color: $color-text-dark;
}

// Table Styles
.two-side-responsive-table {
  width: 100%;
  border-collapse: collapse;

  >tbody {
    >tr {
      >td {
        padding: 5px 0;

        &:nth-child(1) {
          width: 240px;
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .two-side-responsive-table {
    width: 100%;
    display: table;

    >tbody {
      >tr {
        display: block;
        width: 100%;

        >td {
          display: block;
          width: 100%;
          box-sizing: border-box;
        }

        >td:nth-child(1) {
          width: 100%;
        }
      }

    }
  }
}

// Multi Select Styles

select[multiple].form-control {
  height: 38px;
}

.multi-select {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  position: relative;
  width: 100%;
  user-select: none;
  font-family: Arial, Helvetica, sans-serif;
  height: calc(1.5em + .75rem + 2px);
  background-color: #FFFFFF;
  border-radius: 3px;

  .multi-select-header {
    border-radius: 3px;
    border: 1px solid $color-border-light;
    padding: 3px 30px 3px 3px;
    overflow: hidden;
    gap: 7px;
    min-height: calc(1.5em + .75rem + 2px);

    &::after {
      content: "";
      display: block;
      position: absolute;
      top: 50%;
      right: 15px;
      transform: translateY(-50%);
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23949ba3' viewBox='0 0 16 16'%3E%3Cpath d='M8 13.1l-8-8 2.1-2.2 5.9 5.9 5.9-5.9 2.1 2.2z'/%3E%3C/svg%3E");
      height: 12px;
      width: 12px;
    }

    &.multi-select-header-active {
      border-color: $color-input-dark2;

      &::after {
        transform: translateY(-50%) rotate(180deg);
      }

      +.multi-select-options {
        display: block;
      }
    }

    .multi-select-header-placeholder {
      padding-left: 4px;
    }

    .multi-select-header-option {
      display: inline-flex;
      align-items: center;
      background-color: $color-background-light;
      font-size: 15px;
      padding: 3px 8px;
      border-radius: 3px;
    }

    .multi-select-header-max {
      font-size: 14px;

      &:empty {
        display: none;
      }
    }
  }

  .multi-select-options {
    display: none;
    box-sizing: border-box;
    flex-flow: wrap;
    position: absolute;
    top: 100%;
    left: 0px;
    right: 0px;
    z-index: 999;
    margin-top: 0px;
    padding: 2px 1px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.26);
    overflow-y: auto;
    overflow-x: hidden;

    &::-webkit-scrollbar {
      width: 5px;
    }

    &::-webkit-scrollbar-track {
      background: #f0f1f3;
    }

    &::-webkit-scrollbar-thumb {
      background: #cdcfd1;

      &:hover {
        background: #b2b6b9;
      }
    }

    .multi-select-option,
    .multi-select-all {
      padding: 0px 12px;
      height: 32px;
    }

    .multi-select-option .multi-select-option-radio,
    .multi-select-all .multi-select-option-radio {
      margin-right: 6px;
      height: 16px;
      width: 16px;
      border: 1px solid $color-input-dark;
      border-radius: 4px;
    }

    .multi-select-option .multi-select-option-text,
    .multi-select-all .multi-select-option-text {
      box-sizing: border-box;
      flex: 1;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      color: inherit;
      font-size: 16px;
      line-height: 20px;
    }

    .multi-select-option.multi-select-selected .multi-select-option-radio,
    .multi-select-all.multi-select-selected .multi-select-option-radio {
      background-color: $color-selected;
    }

    .multi-select-option.multi-select-selected .multi-select-option-radio::after,
    .multi-select-all.multi-select-selected .multi-select-option-radio::after {
      content: "";
      display: block;
      width: 5px;
      height: 8px;
      margin: 0.16em 0 0 0.32em;
      border: solid #fff;
      border-width: 0 0.15em 0.15em 0;
      transform: rotate(45deg);
    }

    .multi-select-option.multi-select-selected .multi-select-option-text,
    .multi-select-all.multi-select-selected .multi-select-option-text {
      color: $color-selected;
    }

    .multi-select-option {

      &:hover,
      &:active {
        background-color: $color-option-hover;
      }
    }

    .multi-select-all {

      &:hover,
      &:active {
        background-color: $color-option-hover;
      }

      border-bottom: 1px solid $color-border-light;
      border-radius: 0;
    }

    .multi-select-search {
      padding: 5px 10px;
      border: 1px solid $color-border-light;
      border-radius: 5px;
      margin: 10px 10px 5px 10px;
      width: calc(100% - 20px);
      box-sizing: border-box;
      outline: none;
      font-size: 1rem;

      &::placeholder {
        color: $color-placeholder;
      }
    }
  }

  .multi-select-header {
    padding: 0px 8px;
  }

  .multi-select-header,
  .multi-select-option,
  .multi-select-all {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    align-items: center;
    cursor: pointer;
    display: flex;
    align-items: center;
    width: 100%;
    font-size: 16px;
  }

  .multi-select-option-container {
    padding: 5px 0px;
    border-bottom: 1px solid #eee;
  }

  .multi-select-optgroup {
    padding: 5px 0;
  }

  .multi-select-optgroup-label {
    padding-left: 10px;
    margin-bottom: 5px;
  }

  .multi-select-optgroup-options {
    padding-left: 20px;
  }

  .multi-select-options-container {
    height: 140px;
    overflow-y: auto;
  }
}

// Dark Mode Styles
.dark-mode {

  .multi-select,
  .form-control {
    background-color: $color-input-dark;
    border-color: $color-border-dark;
    color: $color-text-dark;
  }

  .multi-select {
    .multi-select-header {
      border-color: $color-border-dark;
      color: $color-text-dark;

      .multi-select-header-placeholder {
        color: $color-text-dark;
      }

      .multi-select-header-option {
        color: $color-text-dark;
        background-color: $color-gray-light;
      }
    }

    .multi-select-options {
      background-color: $color-input-dark;

      .multi-select-search {
        box-sizing: border-box;
        background-color: $color-input-dark;
        color: $color-text-dark;
        border-color: $color-dark-border;
      }

      .multi-select-option.multi-select-selected .multi-select-option-text,
      .multi-select-all.multi-select-selected .multi-select-option-text {
        color: $color-text-dark;
      }

      .multi-select-option .multi-select-option-radio,
      .multi-select-all .multi-select-option-radio {
        border: 1px solid $color-dark-checkbox;
      }
    }

    .multi-select-all {

      &:hover,
      &:active {
        background-color: $color-gray-dark;
      }

      border-color: $color-border-dark-2;
      border-radius: 0;
    }

    .multi-select-option {

      &:hover,
      &:active {
        background-color: $color-gray-dark;
      }
    }

    .multi-select-option-container {
      padding: 5px 0px;
      border-bottom: 1px solid $color-dark-border;
    }
  }
}